ul.se-tabset.nav-tabs{
    @include se-flex-row();
    margin-bottom: fd-space('s');
}
.se-tabset .se-tabset__link, .se-tabset .se-tabset__link:hover{
    padding: 0 0 fd-space("xs");
    margin-right: 30px;
    text-transform: capitalize;
    color: fd-color("text",2);
    background-color: transparent;
    border: none !important;
}
.se-tabset__tab.active .se-tabset__link{
    color: fd-color('action',1);

    &::before{
        @include se-active-link;
        content: "";
        position: absolute;
        top: 90%;
        height: 0;
        left: 0;
        width: 100%;
    }
}
.multi-tabs-editor .se-tabset.nav-tabs {
    display: inline-flex;
    justify-items: center;
	padding-bottom: 2px;
	margin-bottom: fd-space('base');
    vertical-align: bottom;

	.se-tabset__link{
        display: flex;
        justify-content: center;
		padding: 0;
        margin-right: 0;     
        width: 30px;
	}
	.se-tabset__tab:last-child .se-tabset__link{
		margin-right: 0;
	}
}