<div data-uib-popover-template="ctrl.contentUrl"
    data-ng-click="$event.stopPropagation()"
    data-popover-append-to-body="true"
    data-popover-placement="bottom"
    data-popover-trigger="'mouseenter'"
    tabindex="0"
    class="se-media__advanced-info">
    <span class="se-media-format__icon sap-icon--message-information se-media__action-icon"
        alt="{{ctrl.i18nKeys.INFORMATION | translate}}"></span>
    <span class="se-media-format__label">{{ctrl.i18nKeys.INFORMATION | translate}}</span>
</div>