.se-perspective-selector{
	@include se-flex-row();
	height: 40px;
	border-right: se-border();
}

// Selector Button
.se-perspective-selector__btn{
	@include se-flex-row();
	@include se-text-btn();
	@include fd-type("0");
	@include fd-weight("bold");
	height: 39px;
	position: relative;
	text-transform: capitalize;
	color: fd-color(text, 1);
}
.se-perspective-selector__btn-arrow{
	margin: 0 fd-space("small") 0 fd-space("tiny");
	color: fd-color(action,1);
}
.se-perspective-selector__hotkey-tooltip--icon{
	@include fd-type("1");
	cursor: pointer;
	color: fd-color(action,1);
	margin-right: fd-space('s');
}

// Dropdown Content
.se-perspective-selector.open .se-perspective__list{
	display: block;
}
.se-perspective__list{
	@include se-dropdown-menu('left','no-arrow');
	@include se-flex-column(flex-start);
	display: none;
	position: absolute;
	top: 95%;
	padding: fd-space("base") 0;
	left: -16px;
	min-width: 120px;
}
.se-perspective__list--tooltip{
	left: 17px;
}
.se-perspective__list-item{
	&:hover .se-perspective__list-item-text, &:hover a{
		color: fd-color(action,1);
	}
	a,.se-perspective__list-item-text{
		text-decoration: none;
	}
}
.se-perspective__list-item-text{
	@include fd-weight('normal');
	color: fd-color(text, 2);
	padding: fd-space('tiny')+2 fd-space('small');
	white-space: nowrap;
	width: 100%;
	text-align: left;
	text-transform: capitalize;
}