/* Splitlayout */
.yw-integrationbackoffice-editor-splitlayout .z-splitlayout-splitter {
    cursor: ew-resize;
    width: 0;
    border: 0 solid #c4cedc;
    border-right-width: 4px;
}

/* Tree */
.yw-integrationbackoffice-editor-tree .z-treecol {
    height: 54px;
    background: white;
    padding-left: 15px;
}

.yw-integrationbackoffice-editor-tree .z-treecol-content {
    color: #151c22;
    font-size: 14px;
}

.yw-integrationbackoffice-editor-tree .z-treecell {
    height: 45px;
    padding-left: 15px;
    border-bottom: 1px solid #d5d8dc;
}

.yw-integrationbackoffice-editor-tree .z-treecols-bar {
    background: white;
    border: none;
}

/* Listbox */
.yw-integrationbackoffice-editor-listbox {
    border: none;
}

.yw-integrationbackoffice-editor-listbox .z-listheader {
    height: 55px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #d5d8dc;
}

.yw-integrationbackoffice-editor-listbox .z-listheader-content {
    text-overflow: ellipsis;
}

.yw-integrationbackoffice-editor-listbox .z-listheader-checkable {
    visibility: hidden;
}

.yw-integrationbackoffice-editor-listbox .z-listcell-content {
    font-size: 14px;
}

.yw-integrationbackoffice-editor-listbox .z-listitem-disabled {
    background: #fff !important;
}

.yw-integrationbackoffice-editor-listbox .z-listbox-emptybody  {
    background: #fff !important;
}

/* Common */
.yw-integrationbackoffice-editor-white-background {
    background: white;
}

/* Runtime */
.yw-integrationbackoffice-editor-listbox-checkbox-unique {
    padding-left: 12px !important;
}

.yw-integrationbackoffice-editor-listbox-checkbox-autocreate {
    padding-left: 25px !important;
}

.yw-integrationbackoffice-editor-listbox-checkbox-autocreate .z-checkbox input:disabled + label:before{
    background-color: #D2D2D2;
    border: none;
}

.yw-integrationbackoffice-editor-listbox-checkbox-unique .z-checkbox input:disabled + label:before{
    background-color: #D2D2D2;
    border: none;
}

.ye-actiondots-integrationbackoffice-btn {
    background: url("images/dots.png") 0 0 !important;
    background-image: url("images/dots.png") !important;
    background-repeat: no-repeat !important;
    height: 24px;
    width: 36px;
    display: inline-block;
    padding: 0;
    float: right;
    border: none;
}

.ye-actiondots-integrationbackoffice-btn:hover {
    background: url("images/dots_single.png") 0 0 !important;
    background-image: url("images/dots_single.png") !important;
    background-repeat: no-repeat !important;
    height: 24px;
    width: 36px;
    display: inline-block;
    padding: 0;
    float: right;
    border: none;
    cursor: pointer !important;
}