



//Only Customer Support Ticketing project related styling
$white: #ffffff;
$black: #000000;
$yellow-light: #ffee7a;
$blue-light: #a3e2ff;
$green-light: #a1eeae;
$red-light: #ff5447;

$border-default--grey: #e6e6e6;
$background-color--light-grey: #f9f9f9;
$message-text--color: #aaaeb4;
$cst-reply-to-customer--background: #7d899c;
$cst-editorarea-border--color: #b7bdc8;

$cst-common_backoffice_widget-navigation--background-color: #1e2830;
$cst-common_backoffice_widget-links--color: #085abc;
$cst-session_context-border--color: #3f5875;
$cst-session_context-label--color: #6f7d90;
