@import 'C:/hybris/core-customize/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import 'C:/hybris/core-customize/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';

/*================================
    Explorer Tree
================================*/
@import "../support/_explorerTree-mixins.scss";

.yw-explorerTree {
  &-widget {
    border: none;
  }

  &-filterDiv {
    background: none;
    padding: $explorertree__tree-filter-div--padding;
  }

  &-hideTextBoxDiv {
    float: right;
  }

  &-inlineActions {
    display: table-cell;
    float: right;
  }
}

