<div data-ng-if="$ctrl.propertyType">
    <!-- Product catalog selector -->
    <div id="product-catalog">
        <label class="se-control-label"
            data-ng-class="{'required': $ctrl.field.required}"
            data-ng-if="$ctrl.catalogs.length === 1">{{$ctrl.catalogName | l10n}}</label>
        <se-dropdown data-ng-if="$ctrl.catalogs.length > 1"
            data-field="$ctrl.productCatalogField"
            data-qualifier="'productCatalog'"
            data-model="$ctrl.model"
            data-id="se-catalog-selector-dropdown"></se-dropdown>
    </div>

    <!-- Item selector -->
    <div>
        <label class="se-control-label">{{$ctrl.mainDropDownI18nKey | translate}}</label>
        <se-dropdown data-field="$ctrl.field"
            data-qualifier="$ctrl.qualifier"
            data-model="$ctrl.model"
            data-id="se-items-selector-dropdown"></se-dropdown>
    </div>
</div>
<div class="product-catalog-item-type-missing"
    data-ng-if="!$ctrl.propertyType">{{'se.cms.catalogawareitem.itemtype.notsupported' | translate}}</div>