<div class="cms-nested-component-template">
    <div data-recompile-dom="cmsItemDropdownCtrl._recompileDom"
        class="cms-nested-component-select">
        <se-dropdown data-field="cmsItemDropdownCtrl.field"
            data-qualifier="cmsItemDropdownCtrl.qualifier"
            data-model="cmsItemDropdownCtrl.model"
            data-id="cmsItemDropdownCtrl.id"
            data-item-template-url="cmsItemDropdownCtrl.itemTemplateUrl"
            data-get-api="cmsItemDropdownCtrl.configureSeDropdown($api)"></se-dropdown>
    </div>
</div>