<div class="se-toolbar-group">
    <toolbar data-css-class="se-toolbar--shell"
        data-image-root="imageRoot"
        data-toolbar-name="smartEditHeaderToolbar"></toolbar>
</div>
<div class="se-landing-page">
    <span class="se-landing-page-title"
        data-translate='se.landingpage.title' />

    <div class="se-landing-page-site-selection"
        data-ng-if="landingCtl.model != undefined">
        <se-dropdown data-field="landingCtl.field"
            data-qualifier="landingCtl.qualifier"
            data-model="landingCtl.model"
            data-id="landingCtl.sites_id"></se-dropdown>
    </div>

    <span class="se-landing-page-label"
        data-translate='se.landingpage.label' />

    <div class="se-landing-page-catalogs">
        <div class="se-landing-page-catalog"
            data-ng-repeat="catalog in landingCtl.catalogs">
            <catalog-details data-catalog="catalog"
                data-is-catalog-for-current-site="$last"></catalog-details>
        </div>
    </div>

    <img src="static-resources/images/best-run-sap-logo.svg"
        class="se-landing-page-footer-logo">
</div>