<div class="pe-customization-modal">
    <div class="pe-customization-modal__title">
        <div class="pe-customization-modal__title-header">
            <div class="pe-customization-modal__title-header-name perso-wrap-ellipsis"
                data-ng-bind="$ctrl.customization.name"
                title={{$ctrl.customization.name}}></div>
            <div>
                <span class="pe-customization-modal__title-header-badge badge"
                    data-ng-class="{'perso__status--enabled':'badge-success', 'perso__status--disabled':'', 'perso__status--ignore':''}[$ctrl.getActivityStateForCustomization($ctrl.customization)]">
                    {{'personalization.modal.customizationvariationmanagement.targetgrouptab.customization.' + $ctrl.customization.status | lowercase | translate}}
                </span>
            </div>
        </div>
        <div class="pe-customization-modal__title-subarea">
            <div data-ng-if="$ctrl.customization.status === $ctrl.PERSONALIZATION_MODEL_STATUS_CODES.ENABLED"
                class="pe-customization-modal__title-dates">
                <span data-ng-if='!$ctrl.customization.enabledStartDate && $ctrl.customization.enabledEndDate'>...</span>
                <span data-ng-bind="$ctrl.customization.enabledStartDate"
                    data-ng-class="{'perso__datetimepicker--error-text':!$ctrl.personalizationsmarteditDateUtils.isDateValidOrEmpty($ctrl.customization.enabledStartDate)}"></span>
                <span data-ng-if='$ctrl.customization.enabledStartDate || $ctrl.customization.enabledEndDate'> - </span>
                <span data-ng-bind="$ctrl.customization.enabledEndDate"
                    data-ng-class="{'perso__datetimepicker--error-text':!$ctrl.personalizationsmarteditDateUtils.isDateValidOrEmpty($ctrl.customization.enabledEndDate)}"></span>
                <span data-ng-if="$ctrl.personalizationsmarteditDateUtils.isDateInThePast($ctrl.customization.enabledEndDate)"
                    class="section-help help-inline help-inline--section help-inline--tooltip">
                    <span class="hyicon hyicon-msgwarning hyicon-msgwarning--dates help-icon-inline"></span>
                    <span class="pe-help-block--inline help-block-inline help-block-inline--text"
                        data-translate="personalization.modal.customizationvariationmanagement.targetgrouptab.datetooltip"></span>
                </span>
                <span data-ng-if='$ctrl.customization.enabledStartDate && !$ctrl.customization.enabledEndDate'>...</span>
            </div>
        </div>
    </div>
    <div class="pe-customization-modal__y-add-btn">
        <button class="fd-button"
            type="button"
            data-ng-click="$ctrl.addVariationAction()">
            <span data-translate="personalization.modal.customizationvariationmanagement.targetgrouptab.addtargetgroup.button"></span>
        </button>
    </div>
    <ul data-ng-show='filteredVariations.length > 0'
        class="pe-customization-modal__list-group">
        <li class="pe-customization-modal__list-group__item"
            data-ng-repeat="variation in $ctrl.customization.variations | filter:$ctrl.personalizationsmarteditUtils.isItemVisible as filteredVariations">
            <div class="pe-customization-modal__list-group__item-col1">
                <a class="pe-customization-modal__list-group__item-link perso-wrap-ellipsis"
                    data-ng-bind="variation.name"
                    data-ng-click="$ctrl.editVariationAction(variation)"></a>
                <span data-ng-class="$ctrl.getActivityStateForVariation($ctrl.customization, variation)"
                    data-ng-bind="$ctrl.getEnablementTextForVariation(variation)"></span>
                <div data-ng-show="$ctrl.personalizationsmarteditTriggerService.isDefault(variation.triggers)">
                    <span class="pe-customization-modal__title-label-segments"
                        data-translate="personalization.modal.customizationvariationmanagement.targetgrouptab.segments.colon"></span>
                    <span data-translate="personalization.modal.customizationvariationmanagement.targetgrouptab.variation.default"></span>
                </div>
                <div data-ng-show="!$ctrl.personalizationsmarteditTriggerService.isDefault(variation.triggers)">
                    <div>
                        <span class="pe-customization-modal__title-label-segments"
                            data-translate="personalization.modal.customizationvariationmanagement.targetgrouptab.segments.colon"></span>
                        <personalizationsmartedit-segment-expression-as-html data-segment-expression="variation.triggers"></personalizationsmartedit-segment-expression-as-html>
                    </div>
                </div>
            </div>
            <div data-uib-dropdown
                class="pe-customization-modal__dropdown y-dropdown-more-menu">
                <button type="button"
                    data-uib-dropdown-toggle
                    class="dropdown-toggle fd-button--light"
                    id="dropdownMenu1"
                    aria-haspopup="true"
                    aria-expanded="true">
                    <span class="sap-icon--overflow"></span>
                </button>
                <ul data-uib-dropdown-menu
                    aria-labelledby="dropdownMenu1"
                    class="se-y-dropdown-menu__list fd-menu__list"
                    role="menu">
                    <li>
                        <a data-ng-click="$ctrl.editVariationAction(variation)"
                            class="se-dropdown-item fd-menu__item"
                            data-translate="personalization.modal.customizationvariationmanagement.targetgrouptab.variation.options.edit" />
                    </li>
                    <li>
                        <a data-ng-click="$ctrl.toogleVariationActive(variation)"
                            class="se-dropdown-item fd-menu__item"
                            data-ng-bind="$ctrl.getActivityActionTextForVariation(variation)" />
                    </li>
                    <li data-ng-class="$first ? 'disabled' : '' ">
                        <a data-ng-click="$ctrl.setVariationRank(variation, -1, $event, $first)"
                            class="se-dropdown-item fd-menu__item"
                            data-translate="personalization.modal.customizationvariationmanagement.targetgrouptab.variation.options.moveup" />
                    </li>
                    <li data-ng-class="$last ? 'disabled' : '' ">
                        <a data-ng-click="$ctrl.setVariationRank(variation, 1, $event, $last)"
                            class="se-dropdown-item fd-menu__item"
                            data-translate="personalization.modal.customizationvariationmanagement.targetgrouptab.variation.options.movedown" />
                    </li>
                    <li>
                        <a data-ng-click="$ctrl.removeVariationClick(variation)"
                            class="se-dropdown-item fd-menu__item fd-has-color-status-3"
                            data-translate="personalization.modal.customizationvariationmanagement.targetgrouptab.variation.options.remove" />
                    </li>
                </ul>
            </div>
        </li>
    </ul>

    <y-slider-panel data-slider-panel-show="$ctrl.showSliderPanel"
        data-slider-panel-hide="$ctrl.hideSliderPanel"
        data-slider-panel-configuration="$ctrl.sliderPanelConfiguration"
        class="pe-customization-modal__sliderpanel">
        <content>
            <div class="pe-customization-modal__sliderpanel__btn-layout">
                <button class="fd-button--light pe-customization-modal__sliderpanel__btn-link"
                    data-ng-init="$ctrl.isFullscreen=false"
                    data-ng-click="$ctrl.toggleSliderFullscreen(); $ctrl.isFullscreen=!$ctrl.isFullscreen">
                    <div>
                        <div data-ng-if="!$ctrl.isFullscreen">
                            <span class="hyicon hyicon-maximize"></span>
                            <span data-translate="personalization.modal.customizationvariationmanagement.targetgrouptab.fullscreen.open"></span>
                        </div>
                        <div data-ng-if="$ctrl.isFullscreen">
                            <span class="hyicon hyicon-minimize"></span>
                            <span data-translate="personalization.modal.customizationvariationmanagement.targetgrouptab.fullscreen.close"></span>
                        </div>
                    </div>
                </button>
            </div>
            <form>
                <div class="fd-form-item">
                    <label for="targetgroup-name"
                        class="fd-form__label required"
                        data-translate="personalization.modal.customizationvariationmanagement.targetgrouptab.targetgroupname"></label>
                    <input type="text"
                        class="fd-form__control"
                        placeholder="{{'personalization.modal.customizationvariationmanagement.targetgrouptab.targetgroupname.placeholder' | translate}}"
                        name="variationname_key"
                        data-ng-model="$ctrl.edit.name"
                        id="targetgroup-name">
                </div>
                <div class="fd-form__item fd-form__item--check pe-customization-modal--check">
                    <input type="checkbox"
                        id="targetgroup-isDefault-001"
                        class="fd-form__control pe-customization-modal__check"
                        data-ng-model="$ctrl.edit.isDefault"
                        data-ng-change="$ctrl.confirmDefaultTrigger($ctrl.edit.isDefault);" />
                    <label for="targetgroup-isDefault-001"
                        class="fd-form__label"
                        data-translate="personalization.modal.customizationvariationmanagement.targetgrouptab.variation.default"></label>
                </div>

                <div data-ng-show="$ctrl.edit.showExpression">

                    <multiple-triggers></multiple-triggers>

                </div>
            </form>

        </content>
    </y-slider-panel>

</div>