/*================================
    Systembar (General)
================================*/
/*================================
    Systembar Mixins
================================*/
/*================================
    Systembar Variables
================================*/
.yw-systemBarContainer {
  background-color: #354A5F;
  padding: 4px 0; }
  .yw-systemBarContainer:after {
    content: "";
    display: block;
    clear: both; }
  .yw-systemBarContainer .yw-statusToolbar {
    line-height: 0;
    height: auto; }
    .yw-systemBarContainer .yw-statusToolbar:after {
      content: "";
      display: block;
      clear: both; }
    .yw-systemBarContainer .yw-statusToolbar-left {
      float: left;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-left: 32px; }
      @media (max-width: 1020px) {
        .yw-systemBarContainer .yw-statusToolbar-left {
          padding-left: 16px; } }
      @media (max-width: 680px) {
        .yw-systemBarContainer .yw-statusToolbar-left {
          padding-left: 8px; } }
    .yw-systemBarContainer .yw-statusToolbar-center {
      width: 100%;
      height: 0;
      position: absolute;
      text-align: center; }
    .yw-systemBarContainer .yw-statusToolbar-right {
      float: right;
      text-align: right;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-right: 32px; }
      @media (max-width: 1020px) {
        .yw-systemBarContainer .yw-statusToolbar-right {
          padding-right: 16px; } }
      @media (max-width: 680px) {
        .yw-systemBarContainer .yw-statusToolbar-right {
          padding-right: 8px; } }
      .yw-systemBarContainer .yw-statusToolbar-right > .z-toolbarbutton:last-child {
        margin-right: 0; }
      .ie10 .yw-systemBarContainer .yw-statusToolbar-right > .widget_cnt > .widget_children_list > .widget_cnt {
        float: left; }
      .yw-systemBarContainer .yw-statusToolbar-right .yw-toolbar > .yw-toolbar-content > .yw-toolbar-actions {
        float: left; }
    .yw-systemBarContainer .yw-statusToolbar > .widget_children > .widget_children_list > .widget_cnt {
      vertical-align: top; }
    .yw-systemBarContainer .yw-statusToolbar .yw-toolbar > .yw-toolbar-content {
      display: inline-table; }
    .yw-systemBarContainer .yw-statusToolbar .yw-toolbar-before > .widget_cnt:empty,
    .yw-systemBarContainer .yw-statusToolbar .yw-toolbar-after > .widget_cnt:empty {
      display: none; }
    .yw-systemBarContainer .yw-statusToolbar .yw-perspectiveChooser {
      display: inline-block;
      vertical-align: top; }
    .yw-systemBarContainer .yw-statusToolbar .yw-systemItemsContainer {
      line-height: 40px;
      display: inline-flex;
      vertical-align: top; }
    .yw-systemBarContainer .yw-statusToolbar .z-toolbarbutton {
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 4px;
      margin: 0 0 0 12px;
      vertical-align: top;
      padding: 0; }
      .yw-systemBarContainer .yw-statusToolbar .z-toolbarbutton + .z-label {
        border-color: #354A5F; }
      .yw-systemBarContainer .yw-statusToolbar .z-toolbarbutton:hover, .yw-systemBarContainer .yw-statusToolbar .z-toolbarbutton:focus, .yw-systemBarContainer .yw-statusToolbar .z-toolbarbutton:active {
        background-color: #323C4C; }
        .yw-systemBarContainer .yw-statusToolbar .z-toolbarbutton:hover + .z-label, .yw-systemBarContainer .yw-statusToolbar .z-toolbarbutton:focus + .z-label, .yw-systemBarContainer .yw-statusToolbar .z-toolbarbutton:active + .z-label {
          border-color: #323C4C; }
      @media (max-width: 1020px) {
        .yw-systemBarContainer .yw-statusToolbar .z-toolbarbutton {
          margin-left: 8px; } }
      @media (max-width: 680px) {
        .yw-systemBarContainer .yw-statusToolbar .z-toolbarbutton {
          margin-left: 4px; } }
    .yw-systemBarContainer .yw-statusToolbar span[style="display: none;"] + .z-toolbarbutton {
      background-color: #2A3341; }
    .yw-systemBarContainer .yw-statusToolbar .yw-pointer-menupopup-widget span[style="display: none;"] + .z-toolbarbutton:before, .yw-systemBarContainer .yw-statusToolbar .yw-pointer-menupopup-widget span[style="display: none;"] + .z-toolbarbutton:after {
      display: block;
      bottom: -5px; }
    .yw-systemBarContainer .yw-statusToolbar .yw-pointer-menupopup-widget span[style="display: none;"] + .z-toolbarbutton:after {
      border-bottom-color: #ffffff; }
    .yw-systemBarContainer .yw-statusToolbar .ya-toggle {
      position: relative; }
      .yw-systemBarContainer .yw-statusToolbar .ya-toggle-active > .z-toolbarbutton,
      .yw-systemBarContainer .yw-statusToolbar .ya-toggle-active > .cng-action {
        background-color: #2A3341; }
    .yw-systemBarContainer .yw-statusToolbar .widget_cnt {
      display: inline-block; }
  .yw-systemBarContainer_flexible {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between; }
    .yw-systemBarContainer_flexible .yw-statusToolbar-left {
      -webkit-flex: auto;
      -ms-flex: auto;
      flex: auto;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden; }
      .yw-systemBarContainer_flexible .yw-statusToolbar-left .yw-logoContainer {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto; }
    .yw-systemBarContainer_flexible .yw-statusToolbar-right {
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      flex-wrap: wrap;
      justify-content: flex-end; }
      @media (min-width: 580px) {
        .yw-systemBarContainer_flexible .yw-statusToolbar-right {
          white-space: nowrap; } }
      .yw-systemBarContainer_flexible .yw-statusToolbar-right > .widget_cnt {
        height: auto; }

.yw-systemBarMenu-popup {
  margin-top: 0;
  padding: 4px 0;
  border: none;
  overflow: visible;
  background: transparent;
  box-shadow: none; }
  .yw-systemBarMenu-popup .z-popup-content {
    border-radius: 4px;
    padding: 4px 0;
    background: #ffffff;
    color: #515559;
    max-height: calc(100vh - 52px);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    height: auto;
    overflow: auto; }
    .yw-systemBarMenu-popup .z-popup-content .z-listbox {
      min-width: 100%; }
    .yw-systemBarMenu-popup .z-popup-content .z-listbox .z-listbox {
      min-width: 0; }
  .yw-systemBarMenu-popup .z-popup-cl {
    border-top: none;
    background-color: transparent; }
  .yw-systemBarMenu-popup .z-listbox {
    border: none; }
  .yw-systemBarMenu-popup .z-listitem {
    background-color: #ffffff;
    color: #515559; }
    .yw-systemBarMenu-popup .z-listitem:hover {
      background-color: #ffffff; }
    .yw-systemBarMenu-popup .z-listitem .z-listcell {
      padding: 8px 10px;
      border-top: 1px solid transparent;
      border-bottom: none;
      background: none; }
      .yw-systemBarMenu-popup .z-listitem .z-listcell:hover {
        background-color: #FAFAFA; }
      .yw-systemBarMenu-popup .z-listitem .z-listcell-content {
        padding: 3px 7px 2px 7px;
        min-height: 24px; }
      .yw-systemBarMenu-popup .z-listitem .z-listcell .z-listitem-checkable .z-listitem-icon.z-icon-check {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        top: 0;
        left: 2px;
        padding-top: 0;
        margin-top: -1px;
        color: #dededf;
        font-weight: normal;
        font-size: 16px;
        font-family: "FontAwesome", sans-serif; }
    .yw-systemBarMenu-popup .z-listitem.z-listitem-selected {
      background-color: #ffffff; }
      .yw-systemBarMenu-popup .z-listitem.z-listitem-selected .z-listcell,
      .yw-systemBarMenu-popup .z-listitem.z-listitem-selected .z-listcell-content,
      .yw-systemBarMenu-popup .z-listitem.z-listitem-selected .z-listcell-content .z-label, .yw-systemBarMenu-popup .z-listitem.z-listitem-selected:hover .z-listcell-content {
        color: #32363a; }
      .yw-systemBarMenu-popup .z-listitem.z-listitem-selected:hover {
        background-color: #ffffff; }
      .yw-systemBarMenu-popup .z-listitem.z-listitem-selected .z-listcell {
        background-color: #EEF5FC; }
        .yw-systemBarMenu-popup .z-listitem.z-listitem-selected .z-listcell:hover {
          background-color: #f4f8fb; }
        .yw-systemBarMenu-popup .z-listitem.z-listitem-selected .z-listcell .z-listitem-checkable .z-listitem-icon.z-icon-check {
          color: #0a6ed1; }
  .yw-systemBarMenu-popup .z-listitem .z-listcell-content,
  .yw-systemBarMenu-popup .z-listitem .z-listcell-content .z-label,
  .yw-systemBarMenu-popup .z-listitem:hover .z-listcell-content,
  .yw-systemBarMenu-popup .z-tabs .z-tab {
    color: #515559;
    font-weight: normal;
    font-size: 14px;
    font-family: "Open Sans", sans-serif; }
  .yw-systemBarMenu-popup .z-tab .z-tab-text {
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit; }
  .yw-systemBarMenu-popup .z-listitem-selected .z-listcell-content,
  .yw-systemBarMenu-popup .z-listitem-selected:hover .z-listcell-content {
    font-weight: bold; }
  .yw-systemBarMenu-popup-title {
    display: block;
    padding: 13px 15px;
    line-height: 20px;
    border-bottom: 1px solid transparent; }
  .yw-systemBarMenu-popup .z-listbox-emptybody td {
    padding: 8px 10px;
    background-color: #ffffff;
    border-top: 1px solid transparent;
    color: #ffffff;
    font-weight: normal;
    font-size: 14px;
    font-family: "Open Sans", sans-serif; }

.yw-dev-toolbar-actions .z-hbox-separator {
  display: none; }
.yw-dev-toolbar-actions .cng-action {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  margin-left: 12px; }
  .yw-dev-toolbar-actions .cng-action img:hover, .yw-dev-toolbar-actions .cng-action img:focus, .yw-dev-toolbar-actions .cng-action img:active {
    background: transparent !important; }
  .yw-dev-toolbar-actions .cng-action table {
    width: 100%;
    text-align: center !important; }
  .yw-dev-toolbar-actions .cng-action:hover, .yw-dev-toolbar-actions .cng-action:focus, .yw-dev-toolbar-actions .cng-action:active {
    background: #2A3341 !important; }
  @media (max-width: 1020px) {
    .yw-dev-toolbar-actions .cng-action {
      margin-left: 8px; } }
  @media (max-width: 680px) {
    .yw-dev-toolbar-actions .cng-action {
      margin-left: 4px; } }

.cng-adminmode .mainToolbar > .yw-logoContainer,
.yw-systemBarContainer .yw-statusToolbar .yw-logoContainer {
  width: 48px;
  height: 40px;
  background-image: url("images/logo-sap.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 48px;
  margin: 0;
  display: inline-block;
  vertical-align: top; }

.cng-adminmode .mainToolbar {
  padding-left: 32px;
  padding-right: 32px; }
  @media (max-width: 1020px) {
    .cng-adminmode .mainToolbar {
      padding-left: 16px;
      padding-right: 16px; } }
  @media (max-width: 680px) {
    .cng-adminmode .mainToolbar {
      padding-left: 8px;
      padding-right: 16px; } }
