<div class="fd-pagination">
    <ul data-uib-pagination
        boundary-links="true "
        total-items="$ctrl.totalItems "
        items-per-page="$ctrl.itemsPerPage "
        ng-model="$ctrl.currentPage "
        ng-change="$ctrl.pageChanged()"
        class="fd-pagination__nav"
        previous-text="&lsaquo; "
        next-text="&rsaquo; "
        first-text="&laquo; "
        last-text="&raquo; "></ul>
</div>