@import 'C:/hybris/core-customize/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import 'C:/hybris/core-customize/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';


.yw-editorarea-parent-unit-wrapper .ye-com_hybris_cockpitng_editor_boolean_wrapper {
	margin-bottom: -4px;
}

/*Icons for explorer tree */   
   div.yw-explorerTree .y-tree-icon-hmc_typenode_Consent .y-tree-icon {
   background-image: url("images/002_consent.png");
}

div.yw-explorerTree .y-tree-icon-hmc_typenode_ConsentTemplate .y-tree-icon {
   background-image: url("images/001_consent_template.png");
}