@import 'C:/hybris/core-customize/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import 'C:/hybris/core-customize/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';



.ye-com_hybris_cockpitng_editor_boolean_wrapper {
    float: left;
}

.yw-editorarea-tabbox .z-groupbox-content {
	span.ye-com_hybris_cockpitng_editor_defaultboolean.z-radiogroup {
		display: inline-block;
		vertical-align: middle;
	}
	.ye-com_hybris_cockpitng_editor_boolean_wrapper .z-hbox {
		width: auto;
		max-width: 100%;
		td table {
			border-collapse: collapse;

			td {
				display: inline-block;
				height: auto !important;
				line-height: $editor-defaults__inline-box--height - 2px !important;
				margin-right: 5px;

				&.z-hbox-separator {
					line-height: 0 !important;
					display: inline;
					margin: 0;

					@media (max-width: 1100px){
						display: none;
					}
				}
			}
		}
	}
}




.y-editor-area-attributes-cnt-min {
	.yw-editorarea-tabbox .z-groupbox-content {
		.ye-com_hybris_cockpitng_editor_boolean_wrapper .z-hbox {
			td table td {
				width: auto;
			}
		}
	}
}

@media screen and (min-width : 400px) and (max-width : 1199px) {
	.yw-editorarea-tabbox-tabs .z-groupbox-content .ye-com_hybris_cockpitng_editor_boolean_wrapper {
		width: 100%;
		.z-hbox {
			table-layout: inherit;
			table {
				width: auto;
				max-width: 100%;
			}
		}
	}
}

@media screen and (min-width : 1200px)  and (max-width : 2000px) {
	.yw-editorarea-tabbox-tabs .z-groupbox-content .ye-com_hybris_cockpitng_editor_boolean_wrapper .z-hbox {
		min-width: 50%;
	}
}

.yw-wizard-property .ye-com_hybris_cockpitng_editor_boolean_wrapper,
.z-radiogroup .ye-com_hybris_cockpitng_editor_boolean_wrapper {
    float: none;
    .ie10 &,
    .ie11 &,
    .edge & {
    	margin-top: 1px;
    }
}