<div class="row se-product-row">
    <div data-ng-if="item !== undefined"
        class="se-product-row-container">
        <img class="se-default-product-img"
            data-ng-src="{{item.thumbnail.url || 'static-resources/images/product_thumbnail_default.png'}}"
            alt="product image">
        <div class="se-product-row__product se-nowrap-ellipsis"
            title="{{item.name | l10n}}">{{item.name | l10n}}</div>
        <div class="se-product-row__catalog">
            <div class="se-nowrap-ellipsis"
                title="{{item.catalogId}} - {{item.catalogVersion}}">{{item.catalogId}} - {{item.catalogVersion}}</div>
        </div>
    </div>
    <div data-ng-if="node !== undefined"
        class="se-product-row-container"
        data-ng-class="{
            'se-product-row-container--node-no-drag' : !$ctrl.treeOptions.dragEnabled,
            'se-product-row-container--node-drag': $ctrl.treeOptions.dragEnabled }">
        <img class="se-default-product-img"
            data-ng-src="{{node.thumbnail.url || 'static-resources/images/product_thumbnail_default.png'}}"
            alt="product image">
        <div class="se-product-row__product se-nowrap-ellipsis"
            title="{{node.name | l10n}}">{{node.name | l10n}}</div>
        <div class="se-product-row__catalog se-nowrap-ellipsis"
            title="{{node.catalogId}} - {{node.catalogVersion}}">{{node.catalogId}} - {{node.catalogVersion}}</div>
        <y-drop-down-menu data-ng-if="$ctrl.treeOptions.dragEnabled"
            data-dropdown-items="$ctrl.getDropdownItems()"
            data-selected-item="this"
            class="y-dropdown pull-right se-tree-node__actions--more-menu" />
    </div>
</div>