.yw-viewMode-impex-textbox{
    resize: none;
    font-family: monospace;
    white-space: pre;
}

.yw-viewMode-edmx-textbox{
    resize: none;
    font-family: monospace;
    white-space: pre;
    overflow: auto;
}

.yw-partition {
    border-top: 1px solid gray;
    padding-top: 20px;
    padding-bottom: 20px;
}

.yw-partition .z-rowchildren {
    margin-left: 0 !important;
}

.yw-col-spacer {
    margin-right: 1px !important;
}

.yw-modal-integrationBackofficeMetadataViewerModal{
    min-height: 669px;
    min-width: 1000px;

}

.yw-modal-integrationBackofficeMetadataViewerModal-button {
    float: right;
    background-color: #fcdf2b;
    color: black;
    margin: 10px;
}

.yw-modal-integrationBackofficeMetadataViewerModal-button:hover {
    background-color: #ffeb08;
    color: black;
}
