/* *
/* This file is the parent of all the styles and the only variable converted to css and visible to the outside world.
/* All the imports should go here only
*/
/* *
/* Imports of Techne components, patterns not used in SmartEdit
*/
/* BTN SETS */
.y-tree {
  color: #27394f;
}
.y-tree * {
  transition: all 0.25s ease;
}
.y-tree .row {
  margin-left: 0;
  margin-right: 0;
}
.y-tree .desktop-layout {
  border: 1px solid #e0e9f0;
  margin-top: -1px;
  padding: 20px 15px 10px 15px;
}
.y-tree .desktop-layout:hover {
  background-color: #d2dbe6;
}
.y-tree .mobile-layout {
  border: 1px solid #e0e9f0;
  margin-top: -1px;
  padding: 15px;
  position: relative;
}
.y-tree .mobile-layout:hover {
  background-color: #d2dbe6;
}
.y-tree .mobile-layout .tree-head {
  padding: inherit;
  background: inherit;
}
.y-tree .mobile-layout .mobile-data {
  padding-bottom: 20px;
}
.y-tree .mobile-layout .mobile-more-menu {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
}
.y-tree .tree-head {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #7f90a4;
  background: 0 0;
  background-color: transparent;
  padding: 50px 15px 15px 15px;
}
.y-tree .primaryData {
  font-weight: 600;
  color: #27394f;
}
.y-tree .inactive-level {
  background-color: #f3f6f9;
}
.y-tree .active-level .desktop-layout,
.y-tree .active-level .mobile-layout {
  background-color: #ffffff;
}
.y-tree .active-level .desktop-layout:hover,
.y-tree .active-level .mobile-layout:hover {
  background-color: #d2dbe6;
}
.y-tree .active-level--last {
  margin-bottom: 12px;
}
.y-tree .category-toggle,
.y-tree .dropdown-toggle {
  padding: 0;
}
.y-tree .category-toggle {
  margin: -5px 0 0 -10px;
}
.y-tree .hyicon-chevron:before {
  font-size: 30px;
  transition: all 0.25s ease;
}
.y-tree .category-toggle[aria-expanded=true] .hyicon-chevron:before {
  transform: rotate(90deg);
}
/* *
/* Imports of personalization variables, common styles, fixes and re-usable components
*/
/* *
/* This file will include all the constants (e.g. colors, fonts, etc)
*/
/** Colors
/* all the colors used - write them once in this section so we can easier keep track and re-use
*/
/* STATUS STYLING
 */
.perso__status--enabled {
  color: #107f3e;
}
.perso__status--ignore,
.perso__status--disabled {
  color: #8592a2;
}
.select2-highlighted .perso__status--enabled,
.select2-highlighted .perso__status--disabled,
.select2-highlighted .perso__status--ignore {
  color: #ffffff;
}
/* SCROLLZONES, SCROLLBAR STYLING
/* manage library, multi-segments, ... 
*/
.perso__scrollzone {
  position: fixed;
  z-index: 10000;
  left: 0;
  width: 100%;
  height: 10%;
}
.perso__scrollzone--normal {
  background-color: #fafafa;
}
.perso__scrollzone--transparent {
  background-color: transparent;
}
.perso__scrollzone--top {
  top: 0;
}
.perso__scrollzone--bottom {
  bottom: 0;
}
.perso__scrollbar--hidden {
  -ms-overflow-style: none;
}
.perso__scrollbar--hidden::-webkit-scrollbar {
  display: none;
}
/* FULLSCREEN MODALS STYLING
/* manage library, multi-segments, ...
*/
.modal-fullscreen {
  width: 100% !important;
  height: 100%;
  margin: 0;
  padding: 0;
}
.modal-fullscreen .modal-header .close {
  margin-right: 20px;
}
.modal-fullscreen .se-slider-panel-container {
  width: 100%;
}
.modal-fullscreen > .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  background-color: white;
}
/* TREE STYLING
/* manage library, customize view, ...
*/
.perso-tree__status {
  font-size: 14px;
  text-transform: initial;
}
.perso-tree__dates-layout {
  font-size: 12px;
}
.perso-tree__primary-data {
  font-weight: 600;
}
/* LABEL STYLING
 /* all non-required labels in personalization use this class
 */
.personalization-modal__label {
  font-size: 13px;
  font-weight: 700;
}
/* ICONS STYLING
/* commerce customization icon, globe icon, ...
*/
.perso__cc-icon {
  margin-left: -5px;
  vertical-align: middle;
  color: #8a8fa1;
}
.perso__cc-icon:before {
  font-size: 24px;
}
.perso__globe-icon {
  color: #8a8fa1;
}
.perso__globe-icon:before {
  font-size: 22px;
}
.perso__cc-icon--hidden {
  visibility: hidden;
}
/* HELPERS
*/
.perso-wrap-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.perso__item-name {
  font-size: 14px;
  font-weight: 600;
}
.perso__wrapper-description {
  font-size: 14px;
  font-family: '72', sans-serif;
}
/* HELP MESSAGES STYLING
*/
.perso__page-level-help-message {
  font-size: 15px;
  font-style: italic;
  color: #8592a2;
}
.se-modal--personalizationsmarteditAddEditActionTemplate .se-modal__body,
.se-modal--personalizationsmarteditCombinedViewConfigureTemplate .se-modal__body {
  overflow-y: visible;
  max-height: fit-content;
}
.fd-link:hover,
.fd-link .is-hover {
  text-decoration: none;
}
.dropdown-menu .divider {
  margin: 0;
}
.badge-success {
  border-color: #107f3e;
  color: #107f3e;
}
.badge-warning {
  border-color: #e9730c;
  color: #e9730c;
}
.badge-danger {
  border-color: #bd0000;
  color: #bd0000;
}
a {
  color: #0a6ed1;
  text-decoration: none;
}
a:hover {
  color: #085caf;
}
.modal-dialog.modal-lg,
.se-slider-panel-container {
  width: 620px;
}
.btn-link {
  color: #0a6ed1;
}
.tooltip-inner {
  background-color: #354a5f;
}
.tooltip.top-left .tooltip-arrow {
  border-top-color: #354a5f;
}
.se-y-help-icon {
  display: inline-block;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #fafafa;
}
.sliderPanelParentModal input.form-control,
.sliderPanelParentModal textarea.form-control {
  border-radius: 0;
}
.perso-library__back-to-top-button .back-to-top {
  font-size: 35px;
  color: #7f90a4;
  cursor: pointer;
}
.perso-library__back-to-top-button .back-to-top:hover {
  color: #4f86e3;
}
.perso-library__back-to-top-button:hover {
  text-decoration: none;
}
/* *
* Let's put here all the css hacks and document what we fixed
* From time to time (every release?) would be nice to come back to this file and try to clean it up
* Don't feel bad from the name, it is a common practice ;)
* More here: https://csswizardry.com/2013/04/shame-css/
*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active), (min--moz-device-pixel-ratio: 0) {
  .perso-segments-tree__btn {
    padding-top: 12px;
  }
}
/* *
/* This file includes the styles used in filter component (e.g. page filter, catalog filter, status filter, etc)
*/
.perso-filter__wrapper {
  margin-left: 15px;
}
.perso-filter__wrapper--page .select2-container .select2-choice {
  min-width: 275px;
}
.perso-filter__wrapper--catalog .select2-container .select2-choice {
  min-width: 160px;
}
.perso-filter__wrapper--status .select2-container .select2-choice {
  min-width: 130px;
}
/* *
/* In this file we can includes common styles used in forms (e.g. input-group)
*/
/********************************************************
                    Input Group Field
*********************************************************/
.perso-input-group {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
}
.perso-input-group__addon {
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
  padding: 5px 10px;
  background-color: #ffffff;
}
.perso-input-group__input {
  flex-grow: 1;
  width: 100%;
  border: none;
  display: block;
  color: #555555;
  font-size: 14px;
  height: 100%;
  padding: 11px 0;
  line-height: 1.42857143;
  background-color: #ffffff;
}
.perso-input-group__input:focus {
  outline: none;
}
.perso-input-group__input::-ms-clear {
  display: none;
}
/* *
/* This file includes the styles used in search component (e.g. from the panel)
*/
.perso-search {
  color: #27394f;
}
.perso-search-gutter {
  margin-right: 20px;
}
.perso-search__search-icon {
  font-size: 30px;
}
.perso-search__reset-icon {
  font-size: large;
  color: #8592a2;
}
.perso-search__results {
  width: 40%;
  align-self: center;
  text-align: right;
  color: #8592a2;
  font-style: italic;
}
/* *
/* This file includes the customized styles for the spinner
*/
.pe-spinner--outer .ySEPanelSpinner {
  display: block;
  text-align: center;
}
.pe-spinner--outer .ySESpinner {
  margin-top: 0;
  margin-bottom: 0;
}
.pe-spinner--outer .panel {
  margin-bottom: 0;
}
.pe-spinner--inner .ySEPanelSpinner {
  display: block !important;
  text-align: center;
}
.pe-spinner--inner .ySESpinner {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.pe-spinner--inner .panel {
  margin-bottom: 0 !important;
}
.perso-toggle {
  width: 55%;
  display: flex;
  justify-content: flex-end;
}
.perso-toggle__label {
  align-self: center;
  margin-bottom: 0;
  padding-right: 10px;
}
.perso-toggle__checkbox-label {
  height: inherit;
}
/* * 
/* Imports of the rest of personalization styling
*/
.perso__component-decorator {
  border: 3px solid #0a6ed1;
}
.perso__component-decorator-icon {
  font-size: 22px;
  color: #ffffff;
}
.perso__component-decorator-icon:before {
  padding: 10px 5px;
  height: 42px;
  background-color: #0a6ed1;
  box-shadow: -1px 5px 12px -2px rgba(117, 117, 117, 0.44);
}
.personalizationsmarteditCombinedViewComponentLightUp {
  position: absolute;
}
.personalizationsmarteditCombinedViewComponentLightUp .pe-combined-view-component-letter {
  position: absolute;
  top: calc(50% - 22px);
}
.personalization-ctx__icon:before {
  vertical-align: inherit;
}
.personalization-ctx__icon:hover {
  background: #ffffff;
  color: #00c6ff;
}
.perso-ctx__button-template {
  font-size: 15px;
  width: 305px;
  border: 1px solid #d5dee8;
  border-top: none;
  border-left: none;
  margin: -10px;
  padding: 20px;
  box-sizing: content-box;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.175);
}
.smartEditComponentX .se-wrapper-data {
  margin-top: -6px;
}
.perso__component-decorator .se-wrapper-data {
  margin-top: -12px;
}
[class*="personalizationsmarteditComponentSelected"] .se-wrapper-data {
  margin-top: -16px;
}
/* *
/* This file includes the styles used in Combined View Panel
/* The styles follow the BEM principles - http://getbem.com/introduction/
*/
.pe-combined-view-panel__wrapper {
  text-align: center;
  font-size: 15px;
  max-height: 55vh;
  overflow-x: hidden;
  border-top: 1px solid #eeeeef;
  margin-top: 10px;
}
.pe-combined-view-panel__wrapper--empty {
  padding: 20px;
  text-align: center;
}
.pe-combined-view-panel--empty-link:hover {
  text-decoration: none;
}
.pe-combined-view-panel--empty-img,
.pe-combined-view-panel--empty-text {
  margin: 0 auto;
  display: block;
  padding: 5px;
}
.pe-combined-view-panel__configure-layout {
  display: flex;
  justify-content: flex-end;
  padding: 15px 5px 15px 25px;
  border-bottom: 1px solid #eeeeef;
}
.pe-combined-view-panel__configure-btn {
  font-weight: 600;
  font-family: '72', sans-serif;
  margin-right: 15px;
}
.pe-combined-view-panel__list-layout {
  color: #27394f;
  font-size: 15px;
  padding: 10px;
  border-bottom: 1px solid #eeeeef;
  display: flex;
  justify-content: flex-start;
}
.pe-combined-view-panel__list-layout:hover {
  background-color: #fafafa;
}
.pe-combined-view-panel--disabled {
  opacity: 0.5;
}
.pe-combined-view-panel--disabled .pe-combined-view-panel__list-layout {
  cursor: default;
}
.pe-combined-view-panel--disabled .pe-combined-view-panel__list-layout:hover {
  background-color: #ffffff;
}
.pe-combined-view-panel-list__letter-layout {
  width: 15%;
}
.pe-combined-view-panel-list__names-layout {
  width: 78%;
  text-align: left;
  padding-left: 10px;
}
.pe-combined-view-panel-list__icon {
  align-self: center;
  width: 5%;
  padding-left: 10px;
}
.pe-combined-view-panel-list__item--highlighted {
  background-color: rgba(10, 110, 209, 0.07);
  color: #ffffff;
}
.pe-combined-view-panel-list__item--highlighted:hover {
  background-color: rgba(10, 110, 209, 0.07);
}
.pe-combined-view-panel-list__item--highlighted .perso__globe-icon {
  color: #ffffff;
}
/* *
/* This file includes the styles used in the Customization Modal
*/
.pe-customization-modal {
  font-size: 15px;
  word-wrap: break-word;
}
.pe-customization-modal .form-group {
  margin-bottom: 30px;
}
.pe-customization-modal .status-toggle {
  padding-right: 0;
}
.pe-customization-modal .status-toggle label {
  height: inherit;
  padding-bottom: 35px;
}
.pe-customization-modal .pe-customization-modal__expression-text {
  font-weight: 700;
}
.pe-customization-modal__textarea {
  resize: none;
}
.pe-customization-modal__dropdown {
  height: 40px;
}
.pe-customization-modal__dates-group {
  margin-bottom: 5px;
}
.pe-customization-modal__title-header {
  display: flex;
  justify-content: space-between;
}
.pe-customization-modal__title-header-badge {
  margin-right: 0;
}
.pe-customization-modal__title-header-name {
  font-size: 16px;
  font-weight: 700;
  width: 85%;
}
.pe-customization-modal__title-subarea {
  display: flex;
  flex-direction: row-reverse;
}
.pe-customization-modal__title-dates {
  font-size: 11px;
}
.pe-customization-modal__title {
  padding: 10px 20px;
  border-bottom: 1px solid #eeeeef;
}
.hyicon-msgwarning--dates {
  color: #fbbb21;
  font-size: 11px;
}
.pe-customization-modal__y-add-btn {
  padding: 20px;
  border-bottom: 1px solid #eeeeef;
  text-align: right;
}
.pe-customization-modal__list-group__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeef;
  padding: 20px 0 20px 20px;
}
.pe-customization-modal__list-group__item:hover {
  background-color: #fafafa;
}
.pe-customization-modal__list-group__item:last-child {
  margin-bottom: 140px;
}
.pe-customization-modal__title-label-segments {
  font-weight: 600;
}
.pe-customization-modal__segments-dropdown {
  width: 100%;
}
.pe-customization-modal__list-group__item-col1 {
  width: calc(100% - 65px);
}
.pe-customization-modal__list-group {
  list-style-type: none;
  padding: 0;
}
.pe-customization-modal__list-group__item-link {
  font-weight: bold;
  color: #0a6ed1;
  padding-right: 5px;
  display: block;
}
.help-inline--tooltip .pe-help-block--inline {
  right: -17px;
  top: 20px;
}
.help-inline--tooltip:hover .hyicon-msgwarning--dates:before {
  content: "\f12d";
}
.hyicon-msgwarning--dates.help-icon-inline:before {
  font-size: 13px;
  color: #fbbb21;
  margin: 0;
}
.help-inline .hyicon.hyicon-msgwarning--dates {
  font-size: 13px;
}
/* *
/* This file includes the styles used in the Customization Modal, sliding panel
*/
.pe-customization-modal__sliderpanel {
  font-size: 15px;
}
.pe-customization-modal__sliderpanel .form-group {
  margin-bottom: 30px;
}
.pe-customization-modal__sliderpanel .select2-input::-ms-clear {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}
.sliderpanel-body {
  overflow: auto;
}
.sliderpanel-footer {
  padding-top: 15px;
}
.pe-customization-modal__sliderpanel__btn-layout {
  display: flex;
  justify-content: flex-end;
}
.pe-customization-modal__sliderpanel__btn-link {
  font-weight: 600;
  font-family: '72', sans-serif;
}
.pe-customization-modal__expression-text {
  font-weight: 700;
}
.sliderPanelParentModal.modal-fullscreen #y-modal-dialog {
  height: 100vh;
}
.sliderPanelParentModal.modal-fullscreen .se-slider-panel__body {
  height: 85vh;
  max-height: 85vh;
}
.pe-customization-modal--check {
  margin-top: 20px;
}
.pe-customization-modal__check.fd-form__control {
  height: 24px;
  width: 24px;
  border: 2px solid #0a6ed1 !important;
  margin-top: 0;
}
.pe-customization-modal__tabs .nav-tabs {
  margin-bottom: 20px;
}
.pe-customization-modal__tabs .nav-tabs > li > a {
  border: none;
  color: #32363a;
  padding: 0 0 12px;
  margin-right: 30px;
  border-bottom: 3px solid transparent;
}
.pe-customization-modal__tabs .nav-tabs > li > a:hover {
  background-color: transparent;
}
.pe-customization-modal__tabs .nav-tabs > li.active > a {
  color: #0a6ed1;
  border: none;
  border-bottom: 3px solid #0a6ed1;
}
.pe-customization-modal__tabs .nav-tabs > li.disabled > a {
  color: #74777a;
}
/* *
/* This file includes the styles used Customize Component Modal
/* (which can accessed on hovering over components either from the combined view or customize panel view)
*/
.perso-customize-component {
  font-size: 15px;
}
.perso-customize-component__select2-container {
  margin-bottom: 20px;
  display: block;
}
.perso-customize-component__select2-container .select2-result-label {
  font-weight: 700;
}
.perso-customize-component__select2-container .select2-input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.perso-customize-component__title-layout__letter-block {
  padding-right: 20px;
}
.perso-customize-component__title-layout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeef;
}
.perso-customize-component__title-layout__cust-name {
  font-weight: 700;
  max-width: 30%;
  padding-right: 2px;
}
.perso-customize-component__title-layout__target-group-name {
  max-width: 62%;
  padding-left: 2px;
}
.perso-customize-component__data-list {
  padding-top: 20px;
}
.perso-customize-component__select-group-label-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.perso-customize-component__filter-layout {
  display: flex;
  justify-content: flex-end;
}
.perso-customize-component__filter-label {
  align-self: center;
  margin-bottom: 0;
}
/* *
/* This file includes the styles used in Manage Customization Library modal
*/
.perso-library {
  font-size: 15px;
}
.perso-library .modal-header h4 {
  text-align: center;
  margin: 0 auto 0 auto;
}
.perso-library .modal-header {
  border: none;
  padding-right: 0;
}
.perso-library .modal-body {
  padding-top: 0;
}
.perso-library .hyicon {
  font-family: inherit;
}
.perso-library .y-tree .category-toggle {
  margin: 0;
}
.perso-library .tree-head {
  word-wrap: break-word;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-top: 15px;
  text-transform: initial;
  color: #51555a;
  background-color: #fafafa;
  font-weight: normal;
}
.perso-library .hyicon-add {
  font-weight: 700;
}
.perso-library .btn {
  font-size: 16px;
}
.perso-library .se-modal__body.fd-modal__body {
  max-height: 100vh;
}
.tree-head__col--md,
.y-tree__col--md {
  width: 20%;
}
.tree-head__col--sm,
.y-tree__col--sm {
  width: 15%;
}
.tree-head__col--xs,
.y-tree__col--xs {
  width: 10%;
  text-align: center;
}
.tree-head__col--lg,
.y-tree__col--lg {
  width: 30%;
}
.y-tree__col--xl {
  width: 40%;
}
.perso-library__y-tree :hover {
  background-color: #fafafa !important;
}
.perso-library__y-tree * {
  transition: none;
}
.perso-library__y-tree .mobile-more-menu {
  padding-top: 10px;
}
.perso-library__y-tree .angular-ui-tree-handle {
  color: #27394f;
  min-height: inherit;
}
.perso-library__y-tree .angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding-left: 0;
}
.perso-library__y-tree .desktop-layout,
.perso-library__y-tree .mobile-layout {
  display: flex;
  justify-content: space-between;
}
.perso-library__y-tree .perso__cc-icon {
  margin-left: -7px;
}
.perso-library__y-tree .inactive-level {
  background-color: white !important;
}
.perso-library__y-tree .active-level--last {
  margin-bottom: 0;
}
.perso-library__y-tree .se-y-dropdown-menu__list:hover {
  background-color: white !important;
}
.y-tree-header--fixed {
  position: fixed;
  top: 60px;
  width: 96%;
  z-index: 999;
  background-color: #edeef0;
}
.perso-library__header {
  display: flex;
  padding-top: 3px;
  margin-bottom: 15px;
}
.perso-library__title {
  flex-grow: 8;
  padding-top: 7px;
}
.perso-library__status {
  min-width: 145px;
}
.perso-library__status .select2-chosen {
  padding-right: 20px !important;
}
.perso-library__search-area-layout {
  display: flex;
  justify-content: center;
  margin: 2em auto 0.5em auto;
}
.perso-library__search-results {
  text-align: center;
  color: #8592a2;
  font-style: italic;
}
.perso-library__search-results--fixed {
  position: fixed;
  top: 90px;
  width: 96%;
  margin: 0 auto 0.5em auto;
  text-align: center;
  color: #8592a2;
  font-style: italic;
  z-index: 1000;
  background-color: #edeef0;
}
.perso-library__search,
.perso-library__status {
  margin-right: 20px;
}
.perso-library__scroll-zone {
  height: 85vh;
  overflow-y: scroll;
}
.perso-library__back-to-top-button {
  position: absolute;
  bottom: 30px;
  right: 15px;
}
.y-tree-row__angular-ui-tree-handle {
  color: #27394f;
  border: none;
  min-height: inherit;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  width: 96%;
}
.y-tree-row__angular-ui-tree-handle:hover {
  background-color: transparent;
}
.y-tree-row__angular-ui-tree-handle--mobile {
  color: #27394f;
  border: none;
  min-height: inherit;
  font-weight: 400;
  background-color: transparent;
  width: 96%;
}
.y-tree-row__angular-ui-tree-handle--mobile:hover {
  background-color: transparent;
}
.perso-library__tree-head--mobile {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #7f90a4;
}
.y-tree__col-xl--mobile {
  width: 90%;
}
.perso-library__number-data--mobile {
  margin-bottom: 10px;
}
.perso-library__angular-ui-tree-drag {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 15px;
  font-weight: inherit;
  color: #27394f;
  background-color: #ffffff;
}
.perso-library__angular-ui-tree-drag .dropdown-toggle,
.perso-library__angular-ui-tree-drag .category-toggle {
  padding: 0;
}
.perso-library__angular-ui-tree-drag .desktop-layout {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px 10px 15px;
  border: 1px solid #eeeeef;
  margin-top: -1px;
}
.perso-library__angular-ui-tree-drag .mobile-layout {
  display: flex;
  justify-content: space-between;
  border: 1px solid #eeeeef;
  margin-top: -1px;
  padding: 15px;
  position: relative;
}
.perso-library__angular-ui-tree-drag .mobile-more-menu {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
}
.perso-library__angular-ui-tree-drag .child-row .desktop-layout,
.perso-library__angular-ui-tree-drag .child-row .mobile-layout {
  margin-left: -10px;
  border-left: none;
}
.perso-library__angular-ui-tree-drag .perso-library__primary-data {
  font-weight: 600;
}
.perso-library__angular-ui-tree-drag .mobile-data {
  padding-bottom: 20px;
}
.perso-library__angular-ui-tree-drag .perso-library__number-data--mobile {
  margin-bottom: 10px;
}
.perso-library__angular-ui-tree-drag .perso-library__tree-head--mobile {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #7f90a4;
}
.perso-library__angular-ui-tree-drag .perso__cc-icon {
  vertical-align: middle;
  margin-left: -7px;
}
@media (max-width: 1400px) {
  .tree-head__col--md,
  .y-tree__col--md {
    text-align: center;
  }
  .y-tree-header--fixed,
  .perso-library__search-results--fixed {
    width: 94%;
  }
}
@media (max-width: 1600px) {
  .y-tree__col--lg,
  .y-tree__col--xl {
    padding-left: 1%;
  }
}
@media (max-width: 768px) {
  .perso-library__search-area-layout {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .perso-library__search-area-layout {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .perso-library__search-area-layout {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .perso-library__filter-layout--mobile {
    width: 100%;
    margin-top: 2em;
  }
  .perso-library__add-button {
    float: none;
    display: block;
    width: 100%;
    margin-top: 20px;
  }
}
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .perso-library__scroll-zone {
    height: 65vh;
  }
}
@media (min--moz-device-pixel-ratio: 0) {
  .perso__scrollbar--hidden {
    overflow-y: auto;
  }
  .perso-library__scroll-zone {
    height: 80vh;
  }
}
/* *
/* This file includes the styles used in Customize Panel general layout (for the search, filter)
*/
.pe-customize-panel__wrapper {
  max-height: 55vh;
  overflow-x: hidden;
}
.pe-customize-panel__filter-label-layout {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 10px 25px;
  border-top: 1px solid #eeeeef;
  margin-top: 10px;
}
.pe-customize-panel__filter-label {
  align-self: center;
  margin-bottom: 0;
}
.pe-customize-panel__filter-layout {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}
.pe-customize-panel__search-layout {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 5px;
}
.se-input-group {
  position: relative;
}
input.se-input-group--input {
  border: none !important;
  box-shadow: 0 0 0 1px #d9d9d9 !important;
}
input.se-input-group--input:focus {
  box-shadow: 0 0 0 2px #5899da !important;
}
.se-input-group--addon {
  position: absolute;
  color: #51555a;
  right: 0;
  height: 36px;
  width: 36px;
  background-color: white;
  border-radius: 4px;
}
.se-component-search {
  min-width: 230px;
}
/* *
/* This file includes the styles used in Customize Panel Customizations List
*/
.pe-customize-panel-list {
  color: #27394f;
  font-size: 15px;
  min-height: 200px;
}
.pe-customize-panel-list .hyicon {
  font-family: inherit;
}
.pe-customize-panel-list--empty {
  padding-bottom: 20px;
}
.pe-customize-panel-list__row-layout {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeef;
}
.pe-customize-panel-list__row-layout:hover {
  background-color: #fafafa;
}
.pe-customize-panel-list__row {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.pe-customize-panel-list__icon-layout {
  width: 5%;
  align-self: center;
  padding: 15px 20px;
}
.pe-customize-panel-list__col-xs {
  width: 5%;
  align-self: center;
}
.pe-customize-panel-list__col-sm {
  width: 10%;
  align-self: center;
  text-align: center;
}
.pe-customize-panel-list__col-md {
  width: 20%;
  align-self: center;
  text-align: center;
}
.pe-customize-panel-list__col-lg {
  width: 40%;
  align-self: center;
}
.pe-customize-panel-list__parent-layout {
  padding-left: 10px;
}
.pe-customize-panel-list__child-layout {
  padding-left: 30px;
}
.pe-customize-panel-list__components-layout {
  display: flex;
  justify-content: center;
}
.pe-customize-panel-list__number-layout {
  padding-right: 5px;
}
.pe-customize-panel-list__btn-link {
  padding: 2px 0 0 0;
}
.pe-customize-panel-list__cc-icon {
  color: #8a8fa1;
}
.pe-customize-panel-list__cc-icon:before {
  font-size: 24px;
}
.pe-customize-panel-list__cc-icon--hidden {
  visibility: hidden;
}
.pe-customize-panel-list__dropdown {
  margin-right: 20px;
}
.pe-customize-panel-list__dropdown-menu {
  min-width: 100px;
  text-align: left;
  display: inline-block;
}
.pe-customize-panel-list__dropdown-menu__item {
  margin-top: -5px;
  margin-bottom: -5px;
  padding: 10px 16px;
}
.selectedVariation,
.selectedCustomization {
  background-color: rgba(10, 110, 209, 0.07);
}
.selectedVariation:hover,
.selectedCustomization:hover {
  background-color: rgba(10, 110, 209, 0.07);
}
.perso__more-icon {
  font-size: 20px;
}
.pe-customize-panel-list__item-last {
  padding-bottom: 30px;
}
.pe-customize-panel-list__header {
  padding: 10px 20px;
  background-color: #fafafa;
  color: #6a6d70;
}
.pe-customize-panel-list__header--name {
  display: inline-block;
  width: 508px;
  padding-left: 28px;
}
.pe-customize-panel-list__header--status {
  display: inline-block;
}
.se-toolbar-menu-content--pe-customized {
  min-width: 275px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  top: inherit;
  overflow-y: hidden;
}
.se-toolbar-menu-content--pe-customized-customizations-panel {
  max-width: 780px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  top: inherit;
  overflow-y: hidden;
}
.se-toolbar-menu-content--pe-customized__item {
  padding: 15px 0 5px 25px;
  overflow: hidden;
}
.se-toolbar-menu-content--pe-customized__item:last-child {
  padding-bottom: 20px;
}
.se-toolbar-menu-content--pe-customized__headers {
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  padding: 10px 0 0 25px;
}
.se-toolbar-menu-content--pe-customized__headers--h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}
.se-toolbar-menu-content--pe-combine {
  max-width: 450px;
}
.se-toolbar-menu-content__y-help {
  align-self: center;
  padding: 0 15px 0 10px;
  margin-top: -2px;
}
.se-toolbar-menu-content__y-help .hyicon-help-icon {
  color: #0a6ed1;
}
.personalizationsmarteditComponentSelected,
.personalizationsmarteditComponentSelected0,
.personalizationsmarteditComponentSelected1,
.personalizationsmarteditComponentSelected2,
.personalizationsmarteditComponentSelected3,
.personalizationsmarteditComponentSelected4,
.personalizationsmarteditComponentSelected5,
.personalizationsmarteditComponentSelected6,
.personalizationsmarteditComponentSelected7,
.personalizationsmarteditComponentSelected8,
.personalizationsmarteditComponentSelected9,
.personalizationsmarteditComponentSelected10,
.personalizationsmarteditComponentSelected11,
.personalizationsmarteditComponentSelected12,
.personalizationsmarteditComponentSelected13,
.personalizationsmarteditComponentSelected14 {
  border: 5px;
  border-style: solid;
  border-color: #0a6ed1;
}
.personalizationsmarteditComponentSelectedList,
.personalizationsmarteditComponentSelectedList0,
.personalizationsmarteditComponentSelectedList1,
.personalizationsmarteditComponentSelectedList2,
.personalizationsmarteditComponentSelectedList3,
.personalizationsmarteditComponentSelectedList4,
.personalizationsmarteditComponentSelectedList5,
.personalizationsmarteditComponentSelectedList6,
.personalizationsmarteditComponentSelectedList7,
.personalizationsmarteditComponentSelectedList8,
.personalizationsmarteditComponentSelectedList9,
.personalizationsmarteditComponentSelectedList10,
.personalizationsmarteditComponentSelectedList11,
.personalizationsmarteditComponentSelectedList12,
.personalizationsmarteditComponentSelectedList13,
.personalizationsmarteditComponentSelectedList14 {
  color: #ffffff;
  width: 44px;
  height: 44px;
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
  display: inline-block;
}
.personalizationsmarteditComponentSelected0 {
  border-color: #0a6ed1;
}
.personalizationsmarteditComponentSelected1 {
  border-color: #9dc75b;
}
.personalizationsmarteditComponentSelected2 {
  border-color: #e9730c;
}
.personalizationsmarteditComponentSelected3 {
  border-color: #b831b4;
}
.personalizationsmarteditComponentSelected4 {
  border-color: #faba0d;
}
.personalizationsmarteditComponentSelected5 {
  border-color: #1ec8df;
}
.personalizationsmarteditComponentSelected6 {
  border-color: #de356b;
}
.personalizationsmarteditComponentSelected7 {
  border-color: #1f4d70;
}
.personalizationsmarteditComponentSelected8 {
  border-color: rgba(31, 77, 112, 0.9);
}
.personalizationsmarteditComponentSelected9 {
  border-color: rgba(31, 77, 112, 0.8);
}
.personalizationsmarteditComponentSelected10 {
  border-color: rgba(31, 77, 112, 0.7);
}
.personalizationsmarteditComponentSelected11 {
  border-color: rgba(31, 77, 112, 0.6);
}
.personalizationsmarteditComponentSelected12 {
  border-color: rgba(31, 77, 112, 0.5);
}
.personalizationsmarteditComponentSelected13 {
  border-color: rgba(31, 77, 112, 0.4);
}
.personalizationsmarteditComponentSelected14 {
  border-color: rgba(31, 77, 112, 0.3);
}
.personalizationsmarteditComponentSelectedList0 {
  background: #0a6ed1;
}
.personalizationsmarteditComponentSelectedList1 {
  background: #9dc75b;
}
.personalizationsmarteditComponentSelectedList2 {
  background: #e9730c;
}
.personalizationsmarteditComponentSelectedList3 {
  background: #b831b4;
}
.personalizationsmarteditComponentSelectedList4 {
  background: #faba0d;
}
.personalizationsmarteditComponentSelectedList5 {
  background: #1ec8df;
}
.personalizationsmarteditComponentSelectedList6 {
  background: #de356b;
}
.personalizationsmarteditComponentSelectedList7 {
  background: #1f4d70;
}
.personalizationsmarteditComponentSelectedList8 {
  background: rgba(31, 77, 112, 0.9);
}
.personalizationsmarteditComponentSelectedList9 {
  background: rgba(31, 77, 112, 0.8);
}
.personalizationsmarteditComponentSelectedList10 {
  background: rgba(31, 77, 112, 0.7);
}
.personalizationsmarteditComponentSelectedList11 {
  background: rgba(31, 77, 112, 0.6);
}
.personalizationsmarteditComponentSelectedList12 {
  background: rgba(31, 77, 112, 0.5);
}
.personalizationsmarteditComponentSelectedList13 {
  background: rgba(31, 77, 112, 0.4);
}
.personalizationsmarteditComponentSelectedList14 {
  background: rgba(31, 77, 112, 0.3);
}
/* *
/* This file includes the styles used in the Customization Modal, sliding panel, user segments configuration
*/
.perso-segments-tree__layout {
  background-color: #fafafa;
  border-left: 20px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 10px;
  padding-right: 10px;
}
.perso-segments-tree__collapsed-container {
  border-left-color: #89919a;
}
.perso-segments-tree__empty-container .angular-ui-tree-placeholder {
  display: none;
}
.perso-segments-tree {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.perso-segments-tree__btn {
  padding-right: 10px;
}
.perso-segments-tree__container {
  padding: 10px 0;
}
.perso-segments-tree__empty-container-node {
  background-color: #ffffff;
  border: 1px dashed #d9d9d9;
  color: #c4cedc;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 0;
  display: flex;
}
.perso-segments-tree__empty-container-node-text {
  margin: auto;
}
.perso-segments-tree__node-icon {
  font-size: 14px;
  padding-left: 5px;
}
.perso-segments-tree__container-btn-icon {
  font-size: 14px;
  padding-right: 10px;
  padding-left: 0;
}
.perso-segments-tree__node {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
}
.perso-segments-tree__node .angular-ui-tree-placeholder {
  margin: 0;
}
.perso-segments-tree__container .angular-ui-tree-placeholder {
  margin: 0;
}
.perso-segments-tree__node-content,
.perso-segments-tree__node-content:hover {
  background-color: #ffffff;
  color: inherit;
  font-weight: 400;
  border: none;
  flex: 2 2 auto;
}
.perso-segments-tree__node:hover .perso-segments-tree__actions,
.perso-segments-tree__container:hover .perso-segments-tree__actions {
  visibility: visible;
}
.perso-segments-tree__actions {
  display: inline-block;
}
.perso-segments-tree__actions:hover {
  text-decoration: none;
}
.perso-segments-tree__toggle {
  display: inline-block;
}
.perso-segments-tree__dropdown {
  display: inline-block;
  margin-left: -10px;
}
.perso-segments-tree__dropdown .select2-chosen {
  padding-right: 12px !important;
}
.perso-segments-tree__glyphicon {
  left: -17px;
  position: relative;
  color: #ffffff;
}
.perso-segments-tree__glyphicon:hover {
  opacity: 0.8;
}
.perso-segments-tree__angular-ui-tree-handle--empty {
  flex: 2 2 auto;
  border: none;
  background-color: transparent;
}
.angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding-left: 10px;
}
@media (max-width: 600px) {
  .perso-segments-tree__container {
    flex-direction: column;
  }
}
.angular-ui-tree-drag {
  color: #27394f;
  font-size: 15px;
}
.has-error .pe-date-field .pe-date-field__input {
  border-color: #bd0000;
}
.has-warning .pe-date-field .pe-date-field__input {
  border-color: #fbbb21;
}
.pe-datetime__msg {
  font-size: 13px;
}
.pe-datetime__error-msg {
  color: #bd0000 !important;
  font-style: italic;
}
.pe-datetime__error-msg::before {
  content: "";
  font-family: "SAP-icons", '72', sans-serif;
  font-style: normal;
  font-weight: normal;
  padding-right: 5px;
}
.pe-datetime__warning-msg {
  color: #e9730c !important;
  font-style: italic;
}
.pe-datetime__warning-msg::before {
  content: "";
  font-family: "SAP-icons", '72', sans-serif;
  font-style: normal;
  font-weight: normal;
  padding-right: 5px;
}
.pe-date-field {
  width: 100%;
}
.pe-date-field__input {
  box-shadow: none;
  border-right: none;
}
.pe-date-field__input.pe-input--is-disabled {
  border-right: 1px solid #eeeeef;
  border-radius: 0;
}
.pe-date-field__input + .bootstrap-datetimepicker-widget {
  background-color: #ffffff;
  color: #000000;
  color: initial;
}
.pe-date-field__input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.pe-datetime-range__picker__icon {
  font-size: 1.1em;
}
.pe-datetime-range__picker {
  box-shadow: none;
  background-color: #ffffff;
  color: #32a0ec;
  border-bottom: 1px solid #eeeeef;
  border-top: 1px solid #eeeeef;
  margin-top: 0;
  border-radius: 0;
}
.perso__datetimepicker--error-border {
  border: 2px solid #bd0000;
}
.perso__datetimepicker--warning-border {
  border: 2px solid #e9730c;
}
.perso__datetimepicker--error-text {
  color: #bd0000;
  font-style: italic;
}
.perso__datetimepicker--error-text::before {
  content: "";
  font-family: "SAP-icons", '72', sans-serif;
  font-style: normal;
  font-weight: normal;
  padding-right: 5px;
}
.perso__datetimepicker__label {
  display: inline-block;
  vertical-align: top;
}
.pe-toolbar-action {
  box-shadow: none;
  height: 100%;
  position: relative;
  border-right: 1px solid #dededf;
  border-radius: 0;
}
.pe-toolbar-item-context__btn:hover,
.pe-toolbar-item-context__btn:focus,
.pe-toolbar-item-context__btn:active {
  box-shadow: none;
  outline: none;
  outline-offset: 0;
}
.pe-toolbar-action--include {
  background-color: #ffffff;
  border: none;
  width: auto;
  margin: 0;
  padding: 0;
}
.pe-toolbar-menu-content {
  margin: 0;
  border: none;
  padding: 0;
  width: 780px;
  cursor: initial;
}
.pe-toolbar-item-context__btn,
.pe-toolbar-item-context__btn-hyicon,
.pe-toolbar-item-context__btn-hyicon:hover,
.pe-toolbar-item-context__btn-hyicon:active,
.pe-toolbar-item-context__btn-hyicon:active:hover {
  box-shadow: none;
}
.pe-toolbar-item-context {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}
.pe-toolbar-item-context__icon {
  font-size: 20px;
  padding-right: 15px;
  padding-top: 5px;
}
.pe-toolbar-item-context__btn-hyicon {
  font-size: 16px;
  padding: 4px 10px 0 0px;
  color: #32363a;
}
.pe-toolbar-item-context__btn,
.pe-toolbar-item-context__btn:hover,
.pe-toolbar-item-context__btn:active,
.pe-toolbar-item-context__btn:hover:active,
.pe-toolbar-item-context__btn:focus {
  border-right: 0 none;
  margin-right: -3px;
  cursor: default;
  opacity: 1;
  padding: 3px 10px 0 0;
}
.pe-toolbar-item-context__btn-title {
  font-weight: 600;
  text-align: left;
}
.pe-toolbar-item-context__btn-subtitle {
  text-align: left;
}
.pe-toolbar-item-context__btn-txt {
  max-width: 205px;
  text-transform: capitalize;
  font-size: 13px;
}
.pe-combined-view-menu.open .pe-toolbar-item-context,
.pe-combined-view-menu.open .pe-toolbar-item-context__btn,
.pe-combined-view-menu.open .pe-toolbar-item-context__btn-hyicon {
  color: #ffffff;
}
/* *
/* This file includes the styles used in Combined View Ranking
*/
.pe-combinedview-ranking {
  font-size: 15px;
  color: #27394f;
  background: #ffffff;
  width: 350px;
  border-top: none;
  border-left: none;
  box-sizing: content-box;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.175);
}
.pe-combinedview-ranking__info-layout {
  padding: 15px 20px;
  border-bottom: 1px solid #eeeeef;
}
.pe-combinedview-ranking__title {
  font-size: 18px;
  font-weight: 600;
}
.pe-combinedview-ranking__list-item {
  border-bottom: 1px solid #eeeeef;
  padding: 15px 20px;
  display: flex;
  justify-content: flex-start;
}
.pe-combinedview-ranking__letter-layout {
  width: 15%;
}
.pe-combinedview-ranking__names-layout {
  padding-left: 10px;
  width: 75%;
  text-align: left;
}
.pe-combinedview-ranking__icon {
  width: 5%;
  align-self: center;
  padding-left: 10px;
}
.pe-combinedview-ranking__icon .tooltip {
  opacity: 1;
  width: 50%;
  border-bottom: none;
  background: transparent;
}
.pe-combinedview-ranking__icon .tooltip-inner {
  padding: 10px;
  font-size: 14px;
  text-align: left;
  border-radius: 0;
}
/* *
/* This file includes the styles used in Combined View Ranking
*/
.pe-combinedview-config__form {
  min-height: 300px;
  margin: -20px;
  padding: 20px;
}
.pe-combinedview-config__select-group-layout {
  margin: 20px 0 20px 0;
}
.pe-combinedview-config__select-group-layout .select2-disabled {
  opacity: 0.4;
  background: none;
  cursor: none;
}
.pe-combinedview-config__select-group-layout .select2-input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.pe-combinedview-config__select-group-layout .fd-form__control {
  width: 100%;
}
.pe-combinedview-config__select-group-label-layout {
  display: flex;
  justify-content: space-between;
}
.pe-combinedview-config__filter-label {
  margin-right: 10px;
  margin-bottom: 0;
  align-self: center;
}
.pe-combinedview-config__filter-layout {
  display: flex;
}
.pe-combinedview-config__filter-layout .select2-arrow {
  margin-left: 10px;
}
.pe-combinedview-config__ui-select-placeholder {
  font-size: 15px;
  color: #8a8fa1;
}
.pe-combinedview-config__ui-select-item--selected {
  font-weight: 700;
}
.pe-combinedview-config__ui-select-choices-layout {
  display: flex;
  justify-content: flex-start;
}
.pe-combinedview-config__ui-select-choices-col1 {
  width: 60%;
}
.pe-combinedview-config__ui-select-choices-col2 {
  padding-left: 10px;
  width: 40%;
}
.pe-combinedview-config__divider {
  border-top: 1px solid #eeeeef;
}
.pe-combinedview-config__list-layout {
  border: 1px solid #eeeeef;
  margin-top: -1px;
  display: flex;
  justify-content: space-between;
}
.pe-combinedview-config__list-label {
  padding-bottom: 10px;
}
.pe-combinedview-config__letter-layout {
  width: 8%;
}
.pe-combinedview-config__names-layout {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex: 1;
  min-width: 0;
  padding-left: 20px;
}
.pe-combinedview-config__cname {
  font-weight: 700;
  flex: 5;
  padding-right: 10px;
}
.pe-combinedview-config__vname {
  padding: 0 10px;
  flex: 7;
}
.pe-combinedview-config__hyicon-globe {
  width: 5%;
  align-self: center;
}
.pe-combinedview-config__hyicon-remove {
  width: 5%;
  align-self: center;
  text-align: left;
  font-size: 16px;
  color: #0a6ed1;
}
@media (max-width: 700px) {
  .pe-combinedview-config__select-group-label-layout {
    flex-direction: column;
    justify-content: flex-start;
  }
  .pe-combinedview-config__label {
    align-self: flex-start;
  }
  .pe-combinedview-config__filter-layout {
    justify-content: flex-start;
  }
  .pe-combinedview-config__letter-layout {
    width: 20%;
  }
  .pe-combinedview-config__names-layout {
    width: 65%;
  }
  .pe-combinedview-config__hyicon-globe,
  .pe-combinedview-config__hyicon-remove {
    width: 8%;
  }
}
@media (max-width: 600px) {
  .pe-combinedview-config__filter-layout {
    flex-direction: column;
    justify-content: flex-start;
  }
  .pe-combinedview-config__filter-label {
    margin-top: 10px;
    align-self: flex-start;
  }
}
/* *
/* This file includes the styles used in Combined View Ranking
*/
.pe-component-info {
  color: #27394f;
  width: 350px;
  background: white;
  border: 1px solid #d5dee8;
  border-top: none;
  border-left: none;
  box-sizing: content-box;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.175);
}
.pe-component-info__info-layout {
  padding: 15px 20px;
  border-bottom: 1px solid #eeeeef;
}
.pe-component-info__title {
  font-size: 18px;
}
.pe-component-info__wrapper {
  max-height: 55vh;
  overflow-x: hidden;
}
.pe-component-info__list-item {
  border-bottom: 1px solid #eeeeef;
  padding: 15px 20px;
  display: flex;
  justify-content: flex-start;
}
.pe-component-info__names-layout {
  width: 90%;
}
.pe-component-info__icon {
  width: 5%;
  align-self: center;
  padding-left: 10px;
}
.pe-component-info__icon .tooltip {
  opacity: 1;
  width: 50%;
  border-bottom: none;
  background: transparent;
}
.pe-component-info__icon .tooltip-inner {
  padding: 10px;
  font-size: 14px;
  text-align: left;
  border-radius: 0;
}
.status-active {
  color: #107f3e;
}
.status-ignore,
.status-inactive {
  color: #89919a;
}
.perso-list__status--value,
.perso-cc-modal__title-status {
  font-size: 12px;
  font-weight: 700;
}
.personalization-modal__label {
  font-size: 13px;
  font-weight: 700;
}
/* * 
/* Imports of the rest of personalizationpromotions styling
*/
/* *
/* This file includes the styles used in Commerce Customization modal
*/
.perso-cc-modal .select2-choices {
  margin-top: 15px;
}
.perso-cc-modal .ui-select-match-item.select2-search-choice {
  padding: 4px 8px;
  display: inline-block !important;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background: #fafafa;
  line-height: 22px;
  margin: 5px 10px 5px 0;
  min-height: auto;
}
.perso-cc-modal .select2-disabled {
  opacity: 0.4;
  background: none;
  cursor: none;
}
.perso-cc-modal .select2-input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.perso-cc-modal .ui-select-match-close {
  position: inherit;
  vertical-align: middle;
  padding-left: 10px;
  color: #0a6ed1;
}
.perso-cc-modal .form-control {
  border: none;
  padding: 0;
}
.perso-cc-modal__title-layout {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  padding: 10px 0 20px 0;
}
.perso-cc-modal__title-cname {
  font-weight: 700;
  max-width: 35%;
}
.perso-cc-modal__title-vname {
  padding-left: 5px;
  max-width: 60%;
}
.perso-cc-modal__title-status {
  padding: 0 5px;
  align-self: center;
}
@media (max-width: 768px) {
  .perso-cc-modal__ui-select--small {
    width: 250px;
  }
}
.perso-cc-modal .select2-container .select2-choice .select2-chosen,
.perso-cc-modal .select2-container .select2-choices .select2-chosen {
  display: inline-block;
}
